* {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-inline: 16px;
  padding-block: 8px;
  justify-content: center;
  gap: 250px;
  color: white;
  background-color: #333;
  font-size: 1.5em;
  text-decoration: none;
}


a:hover {
  opacity: 0.7;
}


a:visited {
  color: white;
}

a:link {
  text-decoration: none !important;
}



